<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>10.94.13.241</host>
			<port>8080</port>
			<username>885055</username>
			<password>$Test004</password>
			<nonProxyHosts></nonProxyHosts>
		</proxy>
	</proxies>
	
</settings>
